
.docs-prev-next
  .prev, .next
    .title
      max-width: 80vw

@media (min-width: 640px)
  .docs-prev-next
    .prev, .next
      .title
        max-width: 200px

@media (min-width: 768px)
  .docs-prev-next
    .prev, .next
      .title
        max-width: 260px

@media (min-width: 1024px)
  .page-body
    width: 700px !important
    &:has(> div[data-content-id="content:1.index.md"])
      width: 600px !important